# .venv
.venv

# .evn for mysql connection
generation/.env

# __pychache__ files
generation/__pycache__/
generation/db/__pycache__/
generation/utils/__pycache__/
generation/votes_generator/__pycache__/


# Datalake and checkpoints
mnt
mnt/*


# logs
logs/votes_generator.log
logs/__pycache__/
