# .idea folder and files
/.idea
/.idea/votes_manager.iml

# .venv
.venv

# .evn for mysql connection
python/.env

# __pychache__ files
python/__pycache__/
python/db/__pycache__/
python/utils/__pycache__/
python/votes_generator/__pycache__/

# logs: file and folder
python/votes_generator/logs
python/votes_generator/logs/votes_generator.log

# streaming zip
streaming.zip

# datalake
datalake
checkpoints
datalake/*
checkpoints/*