# .idea folder and files
/.idea
/.idea/votes_manager.iml
/.idea/workspace.xml

# .venv
.venv

# .evn for mysql connection
generation/.env

# __pychache__ files
generation/__pycache__/
generation/db/__pycache__/
generation/utils/__pycache__/
generation/votes_generator/__pycache__/

# logs: file and folder
generation/votes_generator/logs
generation/votes_generator/logs/votes_generator.log
logs
logs/votes_generator.log

# streaming zip
streaming.zip

# datalake
datalake
checkpoints
datalake/*
checkpoints/*
mnt
mnt/*